% extends 'mainapp/layout.html' %}

{% block content %}
<div class = 'features'>
<h3>Підтвердження</h3>
<p>Ми надіслали вам інструкції для встановлення вашого паролю, якщо обліковий запис існує з введеною вами електронною адресою. Ви повинні отримати їх незабаром!</p>
<p>Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, з якою зареєструвалися, і перевірте папку зі спамом!</p>
<a href = "{% url 'login' %}"><button style = "margin-top: 15px" class = "btn btn-success">Спробувати ще раз</button></a>
</div>

{% endblock %}