{% extends 'mainapp/layout.html' %}

{% block title %}Про Нас{% endblock %}

{% block content %}
<div class="features">
<h1>Про Нас</h1>
<p>Наш вебсайт присвячений створенню позитивних змін у світі шляхом надання можливості людям діяти з питань, які їх найбільше турбують. Наша платформа створена для того, щоб бути зручною та доступною для всіх, незалежно від їхнього походження чи рівня досвіду.</p>
<br>
<p>У своїй основі ми віримо в силу колективних дій. Ми віримо, що коли люди об'єднуються та працюють над спільною метою, вони можуть досягти дивовижних речей. Наш вебсайт є місцем, де люди можуть знайти однодумців, які поділяють їхні цінності та турботи, та взяти участь у значущих діях з питань, які їм важливі.</p>
<br>
<p>Незалежно від того, чи є ви досвідченим активістом або стурбованим громадянином, який хоче зробити зміни, наш вебсайт є ідеальним місцем для залучення. Ми заохочуємо вас дослідити нашу платформу, розпочати петицію, підтримати справу та знайти однодумців, які поділяють ваше бачення кращого світу.</p>
<br>
<p>Дякуємо, що приєдналися до нас у цій подорожі до світлого майбутнього. Разом ми можемо створити позитивні зміни та справжні зміни у світі.</p>
<br>
{% endblock %}

