{% extends 'mainapp/layout.html' %}

{% block title%}{{title}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Основна сторінка</h1>
        <p>Ласкаво просимо на наш сайт петицій, де ви можете приєднатися до тисяч інших людей, щоб ваш голос був почутий і створити позитивні зміни в світі. Наша платформа надає можливість створювати та підписувати петиції з широкого спектру питань, від соціальної справедливості та прав людини до екологічної стійкості та захисту тварин.
            Ми віримо, що кожен має силу змінювати світ, і, об'єднуючись, ми можемо підсилити наші колективні голоси та вплинути на навколишній світ. Незалежно від того, чи вас хвилює конкретна проблема, чи ви просто хочете бути поінформованими та активними, наш веб-сайт є ідеальним місцем для участі.
            Створення петиції є простим - просто виберіть тему, напишіть чітке та переконливе повідомлення та поділіться ним з друзями та спільнотою. Ви зможете відстежувати прогрес своєї петиції та бачити, скільки людей підписали її для підтримки вашої справи.
            І якщо ви шукаєте петицію, яка резонує з вами, наша платформа полегшує пошук і підписання петицій, що відповідають вашим цінностям та переконанням. Підписуючи петицію, ви додаєте свій голос до зростаючого руху людей, які разом працюють для досягнення позитивних змін у світі.
            Тож приєднуйтесь до нас сьогодні і починайте змінювати світ. Незалежно від того, чи ви активіст, стурбований громадянин, чи просто людина, якій небайдужий світ, в якому ми живемо, наш сайт петицій є ідеальним місцем для участі та висловлення своєї думки.</p>
        {% for el in values %}
            {% filter upper %}
                <p>{{ el }}</p>
            {% endfilter %}
        {% endfor %}
    </div>
{% endblock %}